.Routerpage{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.Routerimg{
    width:30%;
   padding-top: 4rem;
   padding-bottom: 9.7rem;
}
.btn{
    width:70%;
    color: white;
    padding-top: 4rem;
}
.Routerimg img{
    width: 60%;
    height:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button{
    background-color:#f84464;
    color:white;
    padding:1rem;
    border:none;
    border-radius:10px;
    
}
